<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title></title>
  </head>
   <body>
     <div>
       <ul>
        <li><a href="/bsdStudents">BSD Students</a></li>
       <li><a href="/allStudents">All Students</a></li>
       <li><a href="/highGPA">Highest GPA</a></li>
      <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div>
      {{{body}}}
    </div>
      <h1>Student Honour Pledge</h1>
      <p>I acknowledge the College's academic integrity policy.  On my honour, i have neither given or received unauthorized aid on this test</p>
      <p>Name: James Little</p>
      <p>Student Number: 028496123</p>
  </body>
  </html>